{% extends 'base.html.twig' %}

{% block title %}Ajout d'un trajet{% endblock %}



{% block body %}

		<div id="example-wrapper" class="example-wrapper">
		<div class="row" id="formulaire" >
			<h3 class="center title font pad1 padd"><i class="fas fa-map-signs"></i> Création de votre trajet</h3>

			{{form_start(form)}}

				{{form_row(form.coordonnees)}}
				{{form_row(form.idVilleDepart)}}

				{{form_row(form.idVilleRetour)}}

				
				<div class="range-wrap">
				{{form_row(form.prixTrajet)}}
				<output class="bubble"></output>
				</div>

				{{form_row(form.nbrePlace)}}
				{{form_row(form.distanceTrajet)}}
				{{form_row(form.save)}}

			{{form_end(form)}}
			
				<div class="col padi" id="carte">
			</div>
			<div><a href="{{ path('recherche') }}" class="btn btn-secondary border-danger ">Retour</a><br><br></div>
		</div>	
	</div>

	<script>
		 $("#login-button").click(function(event){
		 event.preventDefault();
	 
	$('form').fadeOut(500);
	$('.wrapper').addClass('form-success');
	});
	</script>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdcKah4k65g7cQ18H-xXMqz72AoMowDY8&v=weekly&libraries=places&callback=initMap" async></script>   
	<script type="text/javascript" src="{{ asset ('asset/Js/script.js') }}"></script>

{% endblock %}
